<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bily.samuel.spseinstructor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoTittle" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoTittle" />
        <activity
            android:name=".AddTest"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".StatisticsActivity" />
        <activity android:name=".UserStatsActivity" />
        <activity android:name=".QuestionsStatsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".EditTestActivity" />
        <activity android:name=".EditQuestionAcitivity" />
        <activity android:name=".EditQuestionActivity"></activity>
        <activity android:name=".EditOptionActivity"></activity>
    </application>

</manifest>